.products-page-title{
     margin-left: 3rem;
}
.product-card *{
     font-family: 'DM Sans', sans-serif;
}

.product-card{
     
     background: var(--main);
     box-shadow: 0px 0px 7.5px rgba(0,0,0,0.45);
     font-family: 'Noto Sans', sans-serif;
     display: flex;
     flex-direction: column;
     color: rgba(7, 7, 7, 0.733);
     /* justify-content: space-betwe; */
     gap: 10px;
     

}

.product-card:hover{
     transform: scale(1.035);
     box-shadow: 0px 0px 20px rgba(0,0,0,0.45);
}

/* .product-card>h4{
     word-wrap: break-word;
     flex-grow: 1;
} */


@media(max-width: 414px){
     .products-page-title{
          margin-left:0;
          text-align: center;
     }
     
}



.grid-container{
     display: grid;
     margin: 3rem;
     grid-template-columns: 300px 300px 300px 300px;
     grid-template-rows: 300px 300px 300px 300px;
     grid-row-gap: 2rem;
     grid-column-gap: 2rem;
     justify-content: center;
    
}

@media(max-width: 1299px){

     .grid-container{
          grid-template-columns: 300px 300px 300px;
          grid-template-rows: 300px 300px 300px;
     }
     
}


@media(max-width: 983px){

     .grid-container{
          grid-template-columns: 300px 300px;
          grid-template-rows: 300px 300px;
     }
     
}

@media(max-width: 679px){

     .grid-container{
          grid-template-columns: 300px;
          grid-template-rows: 300px;
     }
     
}

.notice-container{
     position: relative;
     border: 1px solid black;
     max-width: 350px;
     padding: 1rem;
     border-radius: 12px;
     margin: auto;
}

.notice{
     text-align: center;
     font-size: 18px;
     font-weight: bold;
}

.notice-container h6{
     position: absolute;
     top: 1rem;
     font-size: 14px;
     cursor: pointer;
     transform: translateY(-1rem);
     right: 0.5rem;
}